.detailsContainer {
  display: flex;
  flex-direction: row; 
  margin: 0 auto;
  max-width: 1200px; 
}

.leftColumn, .rightColumn {
  flex: 1; 
  padding: 10px; 
  box-sizing: border-box; 
}

.leftColumn {
  padding-right: 20px; 
}

.rightColumn {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  overflow: hidden; 
}

.videoPlayer {
  max-width: 100%;
  height: auto; 
  margin-bottom: 20px; 
}

@media (max-width: 768px) {
  .detailsContainer {
      flex-direction: column; 
  }

  .leftColumn, .rightColumn {
      flex: none; 
      width: 100%; 
  }
}

.gameBackgroundImage {
  max-width: 500px; 
  width: 100%;
  height: auto; 
}

.reviews-container ul {
  list-style-type: none; 
  padding-left: 0; 
}
