.game-card {
    display: flex;
    flex-direction: column; 
    align-items: center;   
    width: 200px;           
    margin: 10px;           
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
    position: relative; 
    overflow: hidden;
  }

.game-card img {
    width: 100%;           
    height: 300px;          
    object-fit: cover;      
    border-bottom: 1px solid #ccc; 
    transition: transform 0.3s ease; 

}

.game-card h2 {
    font-size: 1.5em; 
    color: #e6e6e6; 
    text-align: center; 
    margin: 10px 0; 
    text-transform: uppercase; 
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
    transition: color 0.3s ease; 
}


.game-card-title {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.75); 
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px 0; 
    transition: transform 0.3s ease, opacity 0.3s ease; 
    transform: translateY(0); 
    z-index: 2; 
  }
  

  .game-card-info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    transform: translateY(100%); 
    transition: transform 0.3s ease, opacity 0.3s ease;
    background: rgba(0, 0, 0, 0.9); 
    color: white;
    opacity: 0; 
    visibility: hidden; 
    padding: 20px;
    z-index: 1; 
  }

  .game-card:hover .game-card-title {
    transform: translateY(-100%); 
    opacity: 0; 
    visibility: hidden; 
  }
  
  .game-card:hover .game-card-info {
    transform: translateY(0); 
    opacity: 1;
    visibility: visible;
    z-index: 3; 
  }

.game-card:hover img {
    transform: scale(1.1); 
}