.game-card {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    align-items: center;    /* Center items on the cross axis */
    width: 200px;           /* Set a fixed width for the cards */
    margin: 10px;           /* Add some space around the cards */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Optional: Add some shadow for depth */
    position: relative; /* Needed to position the overlay absolutely */
    overflow: hidden;
  }

.game-card img {
    width: 100%;            /* Make image take up the full card width */
    height: 300px;          /* Fix the image height */
    object-fit: cover;      /* Ensure the image covers the area nicely */
    border-bottom: 1px solid #ccc; /* Add a border between the image and the text */
    transition: transform 0.3s ease; /* Smooth transition for the zoom effect */

}

.game-card h2 {
    font-size: 1.5em; /* Make the title larger */
    color: #e6e6e6; /* A light grey color that will stand out against a darker background */
    text-align: center; /* Center the title */
    margin: 10px 0; /* Add some space around the title */
    text-transform: uppercase; /* CAPITALIZE the title */
    letter-spacing: 2px; /* Add more space between letters for a dramatic effect */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Text shadow for depth */
    transition: color 0.3s ease; /* Transition for hover effect */
}


.game-card-title {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.75); /* Semi-transparent overlay */
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px 0; /* Padding for the title bar */
    transition: transform 0.3s ease, opacity 0.3s ease; /* Smooth transition for the title */
    transform: translateY(0); /* Start at normal position */
    z-index: 2; /* Higher z-index to ensure title is above info initially */
  }
  

  .game-card-info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    transform: translateY(100%); /* Hide the info below the card */
    transition: transform 0.3s ease, opacity 0.3s ease;
    background: rgba(0, 0, 0, 0.9); /* Darker background for the info */
    color: white;
    opacity: 0; /* Start fully transparent */
    visibility: hidden; /* Start hidden */
    padding: 20px;
    z-index: 1; /* Lower z-index to have info below title initially */
  }

  .game-card:hover .game-card-title {
    transform: translateY(-100%); /* Slide out of view */
    opacity: 0; /* Make title fully transparent */
    visibility: hidden; /* Hide title to prevent it from being clickable */
  }
  
  .game-card:hover .game-card-info {
    transform: translateY(0); /* Slide into view */
    opacity: 1;
    visibility: visible;
    z-index: 3; /* Raise z-index to bring info above the title */
  }

.game-card:hover img {
    transform: scale(1.1); /* Zoom in */
}